
/* custom fonts */

@font-face {
    font-family: bitwise;
    src: url(fonts/old.ttf);
}

body {
    background-color: black;
    font-family: bitwise;
    color: rgb(50,205,50);
}

/* header elements: */

#header {
    height: 15%;
    height: 15vh;
    width: 100%;
}

 #logo {
    float: left;
    margin-left: 40px;
    margin-top: -10px;
 }

 #title {
    float:left;
    margin-left: 30px;
    text-align: justify;
    color: rgb(154,205,50);

 }

 #title-main {
    margin-top: -60px;
    font-size: 56px;
    font-variant: small-caps;
 }

#title-description {
    margin-top: -70px;
    font-size: 24px;
}

#header-right-box {
    float:left;
    position: absolute;
    right: 0px;
    padding-right: 10px;
}

#calendar-clock {
    text-align: right;
    font-size: 22px;
}

#login-button {
    text-align: right;
    font-size: 22px;
}

#login-button:hover {
    color: rgb(154,205,50);
    background-color: rgb(34,139,34);
}

/* main content: */

main {
    width: 100%;
    min-height: 65%;
    min-height: 65vh;
    text-align: justify;
    font-size: 18px;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 2px;
    display: flex;
}

#main-menu-box {
    float: left;
    width: 230px;
    height: auto;
    border-color: green;
    border-style: solid;
    border-width: 1px;
}

.main-menu-button {
    clear: both;
    background-color: rgb(0,100,0);
    text-align: center;
    padding: 5px;
    border-color: black;
    border-style: dotted;
    border-width: 2px;
}

.main-menu-button:hover {
    color: rgb(154,205,50);
    background-color: rgb(34,139,34);
    height: +10%;
}

#main-content {
    float: left;
    width: 100%;
    background-color: #000a00;
    border-color: green;
    border-style: solid;
    border-width: 1px;
    padding-left: 15px;


}

#main-login {
    background-color: #000a00;
    text-align: center;
}

#main-content > h1 {
    text-align: center;
    font-size: 56px;
}

/* footer: */

#footer {
    bottom: 0px;
    text-align: left;
    margin-left: 230px;
    padding: 5px;
    text-align: left;
    font-size: 16px;
    color: rgb(50,205,50);
}

.link {
    cursor: pointer;
    color: rgb(50,205,50);
    text-decoration: none;
}

.link:hover {
    color: #ffffff;
    color: rgb(154,205,50);
    font-size: 110%;
}

/* login */

form {
  width: 300px;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%);
}

input[type=text],
input[type=password] {
  background-color: chartreuse;
  text-align: center;
  /* padding: 10px 20px; */
  border-radius: 3px;
}

input[type=text]:hover {
  background-color: darkgreen;
  color: white;
}

input[type=submit] {
  background-color: darkgreen;
  /* margin-top: 15px; */
  border-color: dimgray;
  border-radius: 5px;
  /* padding: 5px 15px; */

}
/* user profile: */

.user-name {
    font-size: 75px;
}

.user-info {
    font-size: 25px;
}
