<!DOCTYPE HTML>
<html lang=en-us>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/javascript.js"></script>
</head>

<!-- header -->
<object id="header" name="header" type="text/html" data="/static/header.html"></object>

<main>
    <!-- menu -->
    <object id="main-menu-box" name="main-menu-box" type="text/html" data="/static/admin/menu.html"></object>

    <!-- content -->
    <div id="main-content">
        <h1>LEVEL CREATION</h1>
        <form method="POST">
            <div class="nested-container">
                <div class="pick-list">
                    <ol class ="enumeration-free-list">
                        <h3>EXISTING LEVELS:</h3>
                        {% for level in levels %}
                        <li> {{level}} </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="nested-container">
                <h3>ENTER LEVEL DATA:</h3>
                <input type="text" name="level_name" maxlength="30" placeholder="Enter level name" required>
                <br/><br/>
                <input type="number" name="coins_limit" min="1" placeholder="Enter required coins" required>
                <br/><br/>
            </div>
            <div class="nested-container-submit">
                <h3>{{result}}</h3>
                <input type="submit" value="perform" required>
            </div>
        </form>

        <!--<div id="main-inner-container">-->

            <!--<h1>LEVEL CREATION</h1>-->
            <!--&lt;!&ndash;<br/><br/>&ndash;&gt;-->
            <!--<h2>EXISTING LEVELS:</h2>-->
            <!--<ul>-->
                <!--{% for level in levels %}-->
                <!--<li> {{level}} </li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
            <!--<form method="POST">-->

                <!--<input type="submit" value="CREATE!">-->
            <!--</form>-->
            <!--<h3> {{ result }} </h3>-->
        <!--</div>-->
    </div>
</main>

<!-- footer -->
<object id="footer" name="footer" type="text/html" data="/static/footer.html"></object>

</div>

</body>
</html>
