<!DOCTYPE HTML>
<html lang=en-us>
<head>
    <meta charset="utf-8"/>
    <title>Quest Store </title>
    <meta name="description" content="Quest Store System website."/>
    <meta name="keywords" content="it students, CodeCool"/>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <script type="text/javascript" src="../js/javascript.js"></script>

</head>

<body>

    <div id="container">

        <!-- header -->
        <object id="header" name="admin-header" target= type="text/html" data="/static/header.html"></object>

        <main>
            <!-- menu -->
            <object id="main-menu-box" name="main-menu-box" type="text/html" data="/static/admin/menu.html"></object>

            <!-- content -->
            <div id="main-content">

                <div id="main-content-header">
                <h1>Edit mentor</h1>
                </div>

                <div class="pick-list">
                   <ul>
                      {%for mentor in mentors%}
                          <li>
                            {{mentor}}
                           </li>
                      {%endfor%}
                    </ul>
                </div>

                <div id="main-inner-container">
                    <form method="POST">
                      <input type="number" min="1" name="Id" placeholder="Id" required>
                      <br/><br/>
                      <input type="text" name="Name" maxlength="30" placeholder="Name">
                      <br/><br/>
                      <input type="text" name="Password" maxlength="30" placeholder="Password">
                      <br/><br/>
                      <input type="email" name="Email" maxlength="30" placeholder="Email">
                      <br/><br/>
                      <input type="submit" value="edit">
                  </form>
                </div>
                <div>{%if method == POST %}
                        {{info}}
                        {%endif%}
                </div>

            </div>
        </main>

        <!-- footer -->
        <object id="footer" name="footer" type="text/html" data="/static/footer.html"></object>

    </div>

</body>
</html>
